<div class='entry-teaser-small'>
<!--  <div class='placeholder-small'></div> -->
  <%= link_to "#{Rails.application.config.recent_pages[count][0]}", "#{Rails.application.config.recent_pages[count][3]}", class: 'teaser-title' %>

  <p><%= Rails.application.config.recent_pages[count][1] %></p>
  <p><small>Published <%= time_ago_in_words(Rails.application.config.recent_pages[count][2]) %> ago</small></p>
</div>