<nav class="navbar col-md-12">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Bryan Marvin", root_path, class: 'logo' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Bio</a></li>
      <li><a href="#">Contact</a></li> 
      <li><a href="#">Projects</a></li> 
    </ul>
  </div>
</nav>