<div class='sidebar'>
  <div class='sidebar-content'>
    <h3 class='archive' style="text-align: center">Recent Posts</h3>
    <ol>
      <% 4.times do |count| %>
        <li><%= render '/shared/entry_teaser', :count => count %></li>
      <%- end -%>
    </ol>
  </div>
</div>