<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-offset-3 col-md-6'>
      <div class='homepage-section' style='background: #f8f2f2'>
          <%= render_elements only: 'homepage_preview_a', count: 1 %>
      </div>
      
      <div class='homepage-section' style='background: #ff6600;'>
        <%= render_elements only: 'homepage_preview_b', count: 1 %>
      </div>
      
      <div class='homepage-section' style='background: #99ff99;'>
        <%= render_elements only: 'homepage_preview_a', count: 1, reverse: true %>
      </div>
      
      <div class='homepage-section' style='background: #ffff99;'>
        <%= render_elements only: 'homepage_preview_b', count: 1, reverse: true %>
      </div>
      
      <div class='homepage-section' style='background: #7e5d5d; height: 150px'>
        <%= render_elements only: 'homepage_bottom' %>
      </div>
    </div>
  </div>
</div>