<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <article>
      <h3>
        <%= el.render :blog_post_title %>
      </h3>
      <h6>
        <%= el.render :blog_post_meta %>
      </h6>
      <div class="row">
        <div class="col-md-6">
          <p>
            <%= el.render :blog_post_intro_text %>
          </p>
        </div>
        <div class="col-md-6">
          <%= el.render :blog_post_image %>
        </div>
      </div>
      <p>
        <%= el.render :blog_post_content %>
      </p>
    </article>
    <hr/>
  <%- end -%>
<%- end -%>
