<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    
    <div class='homepage_preview_photo' style='float: right; margin-left: 25px'>
      <%= el.render :preview_photo %>
    </div>
    <div class='homepage_preview_header'>
      <%= el.render :header %>
    </div>
    <div class='homepage_preview_text'>
      <%= el.render :subhead %>
    </div>
  <%- end -%>
<%- end -%>
