<%= element_editor_for(element) do |el| -%>
  <%= el.edit :item1 %>
  <%= el.edit :item1_photo %>
  <%= el.edit :item2 %>
  <%= el.edit :item2_photo %>
  <%= el.edit :item3 %>
  <%= el.edit :item3_photo %>
<%- end -%>
