<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <div class="row">
      
      <div class="col-md-4">
        <div class="homepage_preview_small">
          <%= el.render :item1_photo %>
        </div>
        <div class="homepage_preview_small_text">
          <%= el.render :item1 %>
        </div>
      </div>
      
      <div class="col-md-4" style="border-left: .5px solid black; border-right: .5px solid black">
        <div class="homepage_preview_small">
          <%= el.render :item2_photo %>
        </div>
        <div class="homepage_preview_small_text">
          <%= el.render :item2 %>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="homepage_preview_small">
          <%= el.render :item3_photo %>
        </div>
        <div class="homepage_preview_small_text">
          <%= el.render :item3 %>
        </div>
      </div>
      
    </div>
  <%- end -%>
<%- end -%>
