/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins, etc */

$border: #000;

@mixin box-style {
  border-style: dashed;
  border-width: 1px;
  border-color: $border;
  border-radius: 40px;
}


/* Header */

.logo {
  float: left;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #F00;
  font-weight: bold;
  letter-spacing: -1px;
  padding-top: 9px;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    color: #DDD;
  }
}
/*
.navbar-inverse {
  background: #888;
}
*/

.navbar {
  @include box-style;
}

.navbar-right {
  padding-right: 30px;
}

.test {
  height: 500px;
  background: #AAA;
}

/* Sidebar stuff */

.sidebar {
  @include box-style;
}

.sidebar-content {
  padding: 10px;
  padding-left: 20px;
  
  h3 {
    text-align: center;
  }
  
  ol {
    list-style: none;
  }
}

.entry-teaser-small {
  border-style: solid;
  border-color: $border;
  border-width: 5px;
  border-radius: 20px;
  margin-left: -45px;
  padding-left: 10px;
  padding-top: 10px;
  
  small {
    font-size: .6em;
    line-height: .6;
  }
}

.placeholder-small {
  height: 50px;
  width: 50px;
  background-color: #00F;
  float: left;
  margin: 5px;
}

.teaser-title {
  font-weight: bold;
  font-size: 1.1em;
  
  a {
    text-decoration: none;
    color: #DDD;
    
    &:hover {
      color: #0f0;
    }
  }
}

/* Homepage */

.homepage-section {
  height: 250px;
  border: 1px solid black;
  padding: 25px;
}

.homepage_preview_photo {
  height: 200px;
  width: 200px;
  background: #000;

  border: .5px solid #000;
}

.homepage_preview_header {
  margin-bottom: 10px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 3em;
  line-height: .85;
}

.homepage_preview_text {
  font-family: sans-serif;
  font-size: .95em;
}

.homepage_preview_small {
  height: 75px;
  width: 75px;
  background: black;
  margin: auto;
  margin-bottom: 10px;
}

.homepage_preview_small_text {
  text-align: center;
  
}