<!DOCTYPE html>
<html>
<head>
  <%= render_meta_data %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if request.original_fullpath == '/home' %>
    <%= yield %>
  <% else %>
    <div class="col-md-8 col-md-offset-2">
      <%= render '/shared/header' %>
    </div>
    
    <div class='container-fluid'>
      <div class='row'>
        
        <div class='col-md-offset-2 col-md-6'>
          <%= yield %>
          <%= alchemy_preview_mode_code %>
          <%= render "alchemy/menubar" %>
        </div>
        <div class='col-md-2'>
          <%= render '/shared/sidebar_main' %>
        </div>  
      </div>
      <%= debug(params) if Rails.env.development? %>
    </div>
  
  <% end %>
</body>
</html>
